//如果需要切换主题色，需要设置这里

/* 改变主题色变量 */
//$--color-primary: teal;

/* 改变 icon 字体路径变量，必需 */
//$--font-path: '~element-plus/lib/theme-chalk/fonts';

// 引入后 包会很大
// 全局引入
// @import "~element-plus/packages/theme-chalk/src/index";

// 按需引入  部分scss文件没有用到对应的变量可以不引用
//@import '~element-plus/packages/theme-chalk/src/button';
//@import "~element-plus/packages/theme-chalk/src/col";
//@import "~element-plus/packages/theme-chalk/src/collapse-transition";
//@import "~element-plus/packages/theme-chalk/src/date-picker";
//@import "~element-plus/packages/theme-chalk/src/dialog";
//@import "~element-plus/packages/theme-chalk/src/drawer";
//@import "~element-plus/packages/theme-chalk/src/dropdown";
//@import "~element-plus/packages/theme-chalk/src/dropdown-menu";
//@import "~element-plus/packages/theme-chalk/src/dropdown-item";
//@import "~element-plus/packages/theme-chalk/src/form";
//@import "~element-plus/packages/theme-chalk/src/form-item";
//@import "~element-plus/packages/theme-chalk/src/icon";
//@import "~element-plus/packages/theme-chalk/src/image";
//@import "~element-plus/packages/theme-chalk/src/input";
//@import "~element-plus/packages/theme-chalk/src/option";
//@import "~element-plus/packages/theme-chalk/src/pagination";
//@import "~element-plus/packages/theme-chalk/src/popconfirm";
//@import "~element-plus/packages/theme-chalk/src/row";
//@import "~element-plus/packages/theme-chalk/src/scrollbar";
//@import "~element-plus/packages/theme-chalk/src/select";
//@import "~element-plus/packages/theme-chalk/src/switch";
//@import "~element-plus/packages/theme-chalk/src/tab-pane";
//@import "~element-plus/packages/theme-chalk/src/table";
//@import "~element-plus/packages/theme-chalk/src/table-column";
//@import "~element-plus/packages/theme-chalk/src/tabs";
//@import "~element-plus/packages/theme-chalk/src/tag";
//@import "~element-plus/packages/theme-chalk/src/time-select";
//@import "~element-plus/packages/theme-chalk/src/tooltip";
//@import "~element-plus/packages/theme-chalk/src/transfer";
//@import "~element-plus/packages/theme-chalk/src/infinite-scroll";
//@import "~element-plus/packages/theme-chalk/src/loading";
//@import "~element-plus/packages/theme-chalk/src/message";

//element样式覆盖
.el-dropdown__popper{
  top: 65px !important;
}